<div class="row">
    <form class="form-group" [formGroup]="passwordForm" #form="ngForm" (ngSubmit)="post(form.valid)" >
        <div class="col-md-6">
            <div class="row card card-block">
                <div class="col-md-12 form-group">
                    <label class="control-label">Senha atual</label>
                    <input type="password" class="form-control" formControlName="currentPassword">
                    <div class="alert" *ngIf="(!passwordForm.controls['currentPassword'].valid && passwordForm.controls['currentPassword'].touched)">
                        {{ requiredAlert }}
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Nova Senha</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="alert" *ngIf="(!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched)">
                        {{ requiredAlert }}
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Confirme sua senha</label>
                    <input type="password" class="form-control" formControlName="passwordConfirmation" (keyup)="passwordConfirmationValidation()">
                    <div class="alert" *ngIf="(!passwordForm.controls['passwordConfirmation'].valid && passwordForm.controls['passwordConfirmation'].touched) || !validPassword">
                        {{ passwordMatchAlert }}
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">Atualizar Senha</button>
                </div>
            </div>
        </div>
    </form>
</div>
      